.allMainMenue {
    position: fixed;
    /* background-color: red; */
    width: 800px;
    height: 800px;
    bottom: -375px;
    right: -355px;
    z-index: 1;
}

.itemsMainMenue .part2MainMenue,
.itemsMainMenue .part3MainMenue,
.itemsMainMenue .part4MainMenue {
    position: absolute;
    width: 800px;
    height: 10%;
    /* background-color: yellow; */
    /* border: 1pt solid black;*/
    top: 360px;
}


/*  */

.itemsMainMenue .part2MainMenue {
    transform: rotate(67.5deg);
    -webkit-transform: rotate(67.5deg);
    -moz-transform: rotate(67.5deg);
    -ms-transform: rotate(67.5deg);
    -o-transform: rotate(67.5deg);
}

.itemsMainMenue .part3MainMenue {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.itemsMainMenue .part4MainMenue {
    transform: rotate(22.5deg);
    -webkit-transform: rotate(22.5deg);
    -moz-transform: rotate(22.5deg);
    -ms-transform: rotate(22.5deg);
    -o-transform: rotate(22.5deg);
}

.button2MainMenue,
.button3MainMenue,
.button4MainMenue {
    position: relative;
    background-color: brown;
    border: 2pt dashed rgba(255, 255, 255, 0.548);
    width: 60px;
    height: 60px;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%);
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
}

.button2MainMenue {
    background-image: url(./public/photo/project-icon.png);
    background-size: 80%;
    background-color: #F59E0B;
    background-repeat: no-repeat;
    background-position: center;
    rotate: -67.5deg;
}

.button3MainMenue {
    background-image: url(./public/photo/task-icon.png);
    background-size: 75%;
    background-color: #7B3AED;
    background-repeat: no-repeat;
    background-position: center;
    rotate: -45deg;
}

.button4MainMenue {
    /*right: 60%;
    */
    background-color: #EC479A;
    background-image: url(public/photo/user.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    rotate: -22.5deg;
}

.buttonMainMenue {
    background-color: azure;
    box-shadow: 0pt 0pt 0pt 0pt;
}

.open {}

.close:first-child {
    position: absolute;
    margin-top: 17px !important;
}

.close div {
    position: static;
    width: 70%;
    height: 0.75pt;
    background-color: #7163ba;
    margin: 12px auto;
}

.open div:first-child,
.open div:last-child {
    position: absolute;
    width: 100%;
    height: 0.75pt;
    background-color: #7163ba;
    top: 50%;
    /* left: 50%; */
    transform: translateY( -50%) translateX(-50%);
    -webkit-transform: translateY( -50%) translateX(-50%);
    -moz-transform: translateY( -50%) translateX(-50%);
    -ms-transform: translateY( -50%) translateX(-50%);
    -o-transform: translateY( -50%) translateX(-50%);
}

.open div:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.open div:last-child {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.open div:nth-child(2) {
    position: fixed;
    width: 0px;
    height: 0px;
    background-color: #79ed3a;
    left: -100px;
    /* visibility: hidden; */
}


/*********controller*/

.controlerMainMenue {
    position: absolute;
    /* background-color: rgb(229, 255, 0); */
    width: 800px;
    height: 800px;
    bottom: 0px;
    right: 0px;
}

.controlerMainMenue .nextPart,
.controlerMainMenue .leftPart {
    position: absolute;
    width: 800px;
    height: 10%;
    /* background-color: rgb(89, 0, 255); */
    top: 360px;
}

.controlerMainMenue .nextPart {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    z-index: 2;
}

.controlerMainMenue .nextPart .buttonNext,
.controlerMainMenue .leftPart .buttonLeft {
    visibility: hidden;
}

.controlerMainMenue .nextPart .buttonClose {
    background-image: url(./public/photo/menu.png);
    background-position: center;
    background-size: 67%;
    background-repeat: no-repeat;
    border: 2pt dashed #9b9b9b;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 42%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    background-color: #ffff;
    rotate: 90deg;
    /* cursor: progress; */
}

.controlerMainMenue .nextPart .buttonNext {
    background-color: #ffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    border: 2pt dashed #9b9b9b;
    background-image: url(./public/photo/next.png);
    background-position: center;
    background-size: 67%;
    background-repeat: no-repeat;
    rotate: -90deg;
}

.controlerMainMenue .leftPart .buttonLeft {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    border: 2pt dashed #9b9b9b;
    background-color: #ffff;
    background-image: url(./public/photo/next.png);
    background-position: center;
    background-size: 67%;
    background-repeat: no-repeat;
    rotate: 90deg;
}

.closeMainMenue {
    position: absolute;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    animation: 'no-open' 1s;
}

@keyframes no-open {
    0% {
        left: 0%;
        visibility: visible;
        transform: translate(0%);
        -webkit-transform: translate(0%);
        -moz-transform: translate(0%);
        -ms-transform: translate(0%);
        -o-transform: translate(0%);
    }
    52% {
        visibility: hidden;
    }
    100% {
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
    }
}

.openMainMenue {
    position: absolute;
    visibility: visible !important;
    animation: 'open' 1s;
    -webkit-animation: 'open' 1s;
    left: 0%;
    visibility: visible;
    transform: translate(0%);
}

@keyframes open {
    0% {
        left: 50%;
        visibility: hidden;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
    }
    47% {
        visibility: visible;
    }
    100% {
        left: 0%;
        transform: translate(0%);
        -webkit-transform: translate(0%);
        -moz-transform: translate(0%);
        -ms-transform: translate(0%);
        -o-transform: translate(0%);
    }
}