.allTaskProjectMaker {
    /* border-bottom: #878787 solid 2pt; */
    margin-top: 5px;
}

.allTaskProjectMaker .specialMember {
    /* border: 2pt solid black; */
}

.allTaskProjectMaker .specialMember .generalInfo {
    /* background-color: aqua; */
    padding: 5px;
    border-top: #878787 solid 2pt;
    /* border-bottom: #cccccc solid 1pt; */
    display: flex;
    justify-content: space-between;
}

.allTaskProjectMaker .specialMember .generalInfo button {
    width: 20px;
    height: 20px;
}

.allTaskProjectMaker .specialMember .generalInfo button:hover {
    background-color: #87878727;
}

.allTaskProjectMaker .specialMember .generalInfo .commentBtn {
    background-image: url(./public/photo/comment.png);
    background-position: center;
    background-size: 100%;
}

.allTaskProjectMaker .specialMember .generalInfo .taskBtn {
    background-image: url(./public/photo/plus.png);
    background-size: 72%;
    background-position: center;
    background-repeat: no-repeat;
}

.allTaskProjectMaker .specialMember .generalInfo .deleteMemberBtn {
    background-image: url(./public/photo/delete.png);
    background-size: cover;
    background-position: center;
}

.allTaskProjectMaker .specialMember .taskInfoOpen {
    /* background-color: green; */
}

.allTaskProjectMaker .specialMember .taskInfoOpen div {
    border-top: #cccccc solid 2pt;
    padding: 5px;
}

.allTaskProjectMaker .specialMember .taskInfoClose {
    height: 0px;
    overflow: hidden;
}

.addNewTask {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}


/********************************/